*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input_main{
    
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 150px auto 0 auto;
  background: #eeee;
  padding: 40px;
  border-radius: 10px;
  row-gap: 10px;
}
.input_main .input_card .input1{

  width: 300px;
  padding: 10px 0 10px 10px;
  border: 2px solid #000;
  border-radius: 10px;
}

.input_main .input_card .input2{

  width: 300px;
  padding: 10px 0 10px 10px;
  border: 2px solid #000;
  border-radius: 10px;
}

.input_main .input_card .input3{

  width: 300px;
  padding: 10px 0 10px 10px;
  border: 2px solid #000;
  border-radius: 10px;
}

.input_main .input_card .input4{

  width: 300px;
  padding: 10px 0 10px 10px;
  border: 2px solid #000;
  border-radius: 10px;
}

.btn{

  background: green;
  padding: 10px 20px;
  border: none;
  width: 100px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.input_main p{

  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}

.input_result h2{

  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 20px;

}

.input_result h2 p{

  font-size: 18px;
}

.input_result{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  margin: 120px auto 0 auto;
  background: #eeee;
  padding: 40px;
  border-radius: 10px;
  row-gap: 10px;
}